.tab__content {

    &--section {
        display: none;

        &.active {
            display: block;
        }
    }

    &--item {
        border-bottom: 1px solid grey;
        margin-top: 10px;

        &:last-child {
            border-bottom: none;
        }

        @media only screen and (max-width: 500px) {
            margin-right: 20px;
        }
    }
}
